$primary-font: 'Lato', sans-serif;
$secondary-font: 'COCOGOOSE', sans-serif;

$primary-color: #272a31;
$secondary-color: #ec5242;
$alternative-color: #d3d3d3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: $primary-font;
}

nav {
  padding: 1.3rem 2rem;

  #menu-icon {
    font-size: 2rem;
    color: $primary-color;
  }

  div {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#timeline {
  padding: 4rem 0;

  h1 {
    font-family: $secondary-font;
    color: $secondary-color;
    text-transform: uppercase;
    margin: 0 1.5rem;
    line-height: 1.8rem;
  }

  p {
    margin: 1rem 1rem;
    line-height: 1.7rem;
  }

  div {
    padding: 0 1.2rem;
  }

  h2 {
    font-family: $secondary-font;
    color: $primary-color;
  }
}

h3 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  height: 2.7rem;
}

h3::after {
  content: '';
  position: absolute;
  height: 0.1rem;
  width: 10%;
  bottom: 0;
  background-color: $secondary-color;
  left: 45%;
}

section ul {
  list-style: none;
}

#main-program {
  color: #fff;
  padding: 3rem 0;
  background: $primary-color url(../assets/program-bg.png) top left repeat;
  display: flex;
  flex-direction: column;

  div {
    height: 5rem;
    display: flex;
    padding: 0 2rem;

    i {
      width: 5rem;
    }

    h4 {
      width: 15rem;
      color: $secondary-color;
    }
  }

  #programs-icon {
    color: #fff;
    font-size: 2rem;
  }

  button {
    background-color: $secondary-color;
    height: 5rem;
    width: 10rem;
    align-self: center;
    border: none;
    color: #fff;
  }
}

#speakers {
  padding: 3rem 1.5rem;

  .speaker-image {
    width: 10rem;
    height: 10rem;
    background: #fff url(../../assets/chessboard-dark.png) top left no-repeat;
    background-size: 4.5rem 4.5rem;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    margin-right: 1.2rem;
  }

  li {
    display: flex;
    font-size: 1.2rem;
    color: $primary-color;
  }

  p {
    font-size: 0.9rem;
  }

  p:first-of-type {
    color: $secondary-color;
    font-size: 1.1rem;
    margin: 0.4rem 0;
    margin-bottom: 1.7rem;
    position: relative;
  }

  p:first-of-type::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 8%;
    bottom: -0.9rem;
    background-color: $alternative-color;
    left: 0;
  }

  button {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    border: $alternative-color 1px solid;
    margin-top: 1rem;
  }

  .fas {
    color: $secondary-color;
    font-size: 1.1rem;
    margin-left: 0.3rem;
  }
}
