$primary-font: 'Lato', sans-serif;
$secondary-font: 'COCOGOOSE', sans-serif;

$primary-color: #272a31;
$secondary-color: #ec5242;
$alternative-color: #d3d3d3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: $primary-font;
}

nav {
  padding: 1.3rem 2rem;

  #menu-icon {
    font-size: 2rem;
    color: $primary-color;
  }

  div {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#timeline {
  h1 {
    font-family: $secondary-font;
    color: $secondary-color;
    text-transform: uppercase;
    margin: 0 1.5rem;
    line-height: 1.8rem;
  }

  p {
    margin: 1rem 1rem;
  }

  div {
    padding: 0 1.2rem;
  }

  h2 {
    font-family: $secondary-font;
    color: $primary-color;
  }
}
