* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
}

body.disScroll {
  overflow-y: hidden;
}

header {
  background: url(../../assets/confetti-doodles-2.svg) center no-repeat;
  position: relative;
}
header div.logo {
  position: absolute;
  right: 1.5rem;
  width: 11.5rem;
  padding-top: 1.3rem;
}
header div.logo a {
  background: url(../../assets/svg-clip.png) left center no-repeat;
  background-size: auto;
  background-size: 2.5rem;
  padding-left: 2.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  line-height: 1.5rem;
  color: black;
  display: inline-block;
  width: 100%;
}

header.mobile {
  background: url(../../assets/confetti-doodles-2.svg) center no-repeat;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 5;
}

nav {
  padding: 1.3rem 2rem;
  width: 100%;
  height: 100%;
}
nav #menu-icon {
  font-size: 3rem;
  color: #272a31;
}
nav div {
  display: none;
}
nav button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: #ec5242 4px solid;
  font-size: 1.5rem;
  color: #ec5242;
  font-weight: 900;
}
nav div.show {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav ul {
  margin: 0;
  margin-top: 6rem;
  padding: 0;
  list-style: none;
  font-size: 1.7rem;
}
nav ul li {
  text-align: center;
  margin-bottom: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: #ec5242;
  font-weight: 900;
}

footer div {
  width: 50%;
  padding-right: 2rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
}

.timeline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 39rem;
  background: url(../../assets/confetti-doodles-2.svg) center center no-repeat;
  background-size: cover;
}
.timeline h1 {
  font-family: "COCOGOOSE", sans-serif;
  color: #ec5242;
  text-transform: uppercase;
  margin: 0 1.5rem;
  line-height: 2.6rem;
  font-size: 2.3rem;
}
.timeline p {
  margin: 1rem 1rem;
  margin-top: 1.8rem;
  padding: 1.5rem;
  font-size: 1.1rem;
  border: #fff 4px solid;
  line-height: 1.7rem;
}
.timeline div {
  padding: 0 1.2rem;
}
.timeline div span {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.timeline h2 {
  font-family: "COCOGOOSE", sans-serif;
  color: #272a31;
  font-size: 1.8rem;
}

h3 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  height: auto;
  font-size: 1.3rem;
}

h3::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 10%;
  bottom: -1rem;
  background-color: #ec5242;
  left: 45%;
}

section ul {
  list-style: none;
}

.logo-section p {
  color: #272a31;
  text-align: center;
  margin-top: 2rem;
  height: auto;
}

.past-events p {
  text-align: center;
  line-height: 1.5rem;
  color: #272a31;
}

.past-events .bg-image div p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

#about-timeline p {
  background-color: #fff;
  border: #d3d3d3 1px solid;
  text-align: center;
}

#speakers p {
  font-size: 0.9rem;
}

#about-timeline div p {
  background-color: inherit;
  border: none;
  margin: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  font-size: 0.9rem;
}

#main-program li p {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 1rem;
}

#speakers {
  padding: 3rem 1.5rem;
}
#speakers .speaker-image {
  width: 10rem;
  height: 10rem;
  background: #fff url(../../assets/chessboard-dark.png) top left no-repeat;
  background-size: 4.5rem 4.5rem;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  margin-right: 1.3rem;
}
#speakers .speaker-details {
  padding-top: 0.5rem;
}
#speakers li {
  display: flex;
  font-size: 1.2rem;
  color: #272a31;
  margin-bottom: 2rem;
}
#speakers p:first-of-type {
  color: #ec5242;
  font-size: 0.9rem;
  margin: 0.4rem 0;
  margin-bottom: 1.7rem;
  position: relative;
}
#speakers p:first-of-type::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 8%;
  bottom: -0.9rem;
  background-color: #d3d3d3;
  left: 0;
}
#speakers button {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border: #d3d3d3 1px solid;
  margin-top: 1rem;
  font-size: 1rem;
}
#speakers .fas {
  color: #ec5242;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.logo-section div.outer div.inner span {
  display: block;
}

.logo-section div.outer div.inner span:first-of-type {
  font-size: 2rem;
  line-height: 1rem;
}

.past-events div {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.past-events .bg-image div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #ec534298;
  z-index: 2;
}
.past-events .bg-image div h4 {
  font-size: 2.5rem;
  font-weight: bolder;
}

#about-timeline h1 {
  text-align: center;
  font-size: 2.1rem;
}
#about-timeline div span {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  text-decoration: underline;
}

#main-program {
  color: #fff;
  padding: 3rem 0;
  background: #272a31 url(../assets/program-bg.png) top left repeat;
  display: flex;
  flex-direction: column;
}
#main-program ul {
  padding: 0 1.1rem;
  margin-top: 1.5rem;
}
#main-program li {
  background-color: #d3d3d31e;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}
#main-program li h4 {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}
#main-program div {
  height: auto;
  display: flex;
  background: url(../../assets/forum.png) left center no-repeat;
  background-size: 3rem;
  padding-left: 1.5rem;
  background-origin: content-box;
}
#main-program div h4 {
  width: 15rem;
  color: #ec5242;
  margin-left: 5rem;
}
#main-program div#award {
  background: url(../../assets/winner.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program div#lecture {
  background: url(../../assets/press-conference.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program div#eat {
  background: url(../../assets/eating.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program #programs-icon {
  color: #fff;
  font-size: 2rem;
}
#main-program button {
  background-color: #ec5242;
  height: 5rem;
  width: 20rem;
  align-self: center;
  border: none;
  color: #fff;
  margin-top: 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.logo-section {
  padding: 3rem 2rem;
}
.logo-section h3 {
  padding: 0;
}
.logo-section div.outer {
  border: #d3d3d3 1px solid;
  height: 10rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
}
.logo-section div.outer div.inner {
  width: 14.5rem;
  background: url(../../assets/svg-clip.png) left center no-repeat;
  background-size: 3rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

.past-events {
  padding: 3rem 3rem;
  border-top: #d3d3d3 1px solid;
}
.past-events .bg-image {
  background: url(../../assets/solidwastec.jpg) center center no-repeat;
  background-size: cover;
  height: 15rem;
}
.past-events #bangalore {
  background: url(../../assets/bang.jpeg) center center no-repeat;
  background-size: cover;
  height: 15rem;
}

.partners {
  background-color: #272a31;
  padding: 2.5rem 0;
}
.partners h3 {
  color: #fff;
}

footer {
  display: flex;
  height: 7rem;
  align-items: center;
}
footer div.f-logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 3rem;
  font-weight: 100;
  font-family: "COCOGOOSE", sans-serif;
  background: url(../../assets/svg-clip.png) 1rem center no-repeat;
  background-size: 2rem;
  height: 4rem;
}

@media (min-width: 992px) {
  header {
    background: #fff;
    height: 6.5rem;
    padding: 0 10rem;
    display: flex;
  }
  header div.logo {
    position: static;
    display: flex;
    padding-top: 0;
    align-items: center;
    width: auto;
  }
  header div.logo a {
    background: url(../../assets/svg-clip.png) left center no-repeat;
    background-size: 2.5rem;
    width: 10rem;
    padding-left: 2.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.5rem;
    color: black;
  }

  nav {
    padding: 0;
  }
  nav #menu-icon {
    display: none;
  }
  nav div {
    display: flex;
    height: 100%;
  }
  nav ul {
    margin-top: 0;
    margin-left: 20rem;
    height: auto;
    display: inline-flex;
    align-items: center;
  }
  nav ul li {
    display: inline;
    margin-bottom: 0;
    margin-left: 4rem;
  }
  nav ul li a {
    color: #272a31;
    font-size: 1.3rem;
  }
  nav button {
    margin-top: 0;
    height: 60%;
    align-self: center;
    background-color: #fff;
    margin-left: 7rem;
  }

  section.timeline {
    height: calc(100vh - 6.5rem);
  }
}

/*# sourceMappingURL=index.css.map */
