* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  background: #fff url(../../assets/imgcrop1.webp) top center no-repeat;
}

header {
  background-color: #d3d3d3e3;
}

nav {
  padding: 1.3rem 2rem;
}
nav #menu-icon {
  font-size: 3rem;
  color: #272a31;
}
nav div {
  display: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.timeline {
  padding: 4rem 0;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.541);
}
.timeline h1 {
  font-family: "COCOGOOSE", sans-serif;
  color: #ec5242;
  text-transform: uppercase;
  margin: 0 1.5rem;
  line-height: 1.8rem;
}
.timeline p {
  margin: 1rem 1rem;
  line-height: 1.7rem;
}
.timeline div {
  padding: 0 1.2rem;
}
.timeline h2 {
  font-family: "COCOGOOSE", sans-serif;
  color: #272a31;
}

h3 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  height: 2.7rem;
  font-size: 1.3rem;
}

h3::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 10%;
  bottom: 0;
  background-color: #ec5242;
  left: 45%;
}

section ul {
  list-style: none;
}

#main-program {
  color: #fff;
  padding: 3rem 0;
  background: #272a31 url(../assets/program-bg.png) top left repeat;
  display: flex;
  flex-direction: column;
}
#main-program ul {
  padding: 0 1.1rem;
}
#main-program li {
  background-color: #d3d3d31e;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}
#main-program li h4 {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 800;
}
#main-program li p {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 1.1rem;
}
#main-program div {
  height: 4rem;
  display: flex;
  background: url(../../assets/forum.png) left center no-repeat;
  background-size: 3rem;
  padding-left: 1.5rem;
  background-origin: content-box;
}
#main-program div h4 {
  width: 15rem;
  color: #ec5242;
  margin-left: 5rem;
}
#main-program div#award {
  background: url(../../assets/winner.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program div#lecture {
  background: url(../../assets/press-conference.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program div#eat {
  background: url(../../assets/eating.png) left center no-repeat;
  background-origin: content-box;
  background-size: 3rem;
}
#main-program #programs-icon {
  color: #fff;
  font-size: 2rem;
}
#main-program button {
  background-color: #ec5242;
  height: 6rem;
  width: 24rem;
  align-self: center;
  border: none;
  color: #fff;
  margin-top: 2.4rem;
  font-size: 1.3rem;
  font-weight: 500;
}

#speakers {
  padding: 3rem 1.5rem;
}
#speakers .speaker-image {
  width: 10rem;
  height: 10rem;
  background: #fff url(../../assets/chessboard-dark.png) top left no-repeat;
  background-size: 4.5rem 4.5rem;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  margin-right: 1.3rem;
}
#speakers .speaker-details {
  padding-top: 0.5rem;
}
#speakers li {
  display: flex;
  font-size: 1.2rem;
  color: #272a31;
}
#speakers p {
  font-size: 0.9rem;
}
#speakers p:first-of-type {
  color: #ec5242;
  font-size: 1.1rem;
  margin: 0.4rem 0;
  margin-bottom: 1.7rem;
  position: relative;
}
#speakers p:first-of-type::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 8%;
  bottom: -0.9rem;
  background-color: #d3d3d3;
  left: 0;
}
#speakers button {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border: #d3d3d3 1px solid;
  margin-top: 1rem;
  font-size: 1rem;
}
#speakers .fas {
  color: #ec5242;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.past-events {
  padding: 3rem 3rem;
  border-top: #d3d3d3 1px solid;
}
.past-events div {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.past-events .bg-image {
  background: url(../../assets/solidwastec.jpg) center center no-repeat;
  background-size: cover;
  height: 15rem;
}
.past-events .bg-image div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #ec534298;
  z-index: 2;
}
.past-events .bg-image div h4 {
  font-size: 2.5rem;
  font-weight: bolder;
}
.past-events .bg-image div p {
  font-weight: 900;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.past-events #bangalore {
  background: url(../../assets/bang.jpeg) center center no-repeat;
  background-size: cover;
  height: 15rem;
}
.past-events p {
  text-align: center;
  line-height: 1.5rem;
  color: #272a31;
}

.partners {
  background-color: #272a31;
  padding: 2.5rem 0;
}
.partners h3 {
  color: #fff;
}

footer {
  display: flex;
  height: 8rem;
  align-items: center;
}
footer div {
  width: 50%;
  padding-right: 2rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

/*# sourceMappingURL=index.css.map */
